@charset "utf-8";
@import url(https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css);
@import "mainpc.css";
@import "mainpcmb.css";
@import "style.css";


.calA img{margin-left: 20px;}
.calB img{ margin-left:20px;}
.box01:nth-of-type(5) img{margin-left: 50px;}
input.res{width:80px;}
.dep img{margin-left: 50px;}

#imgBanner>div>h4{
    font-family: 'NanumPen';
    font-size: 32px;
    line-height: 32px;
    margin-top: 25px;
    text-align: center;
}

@media all and (max-width:960px) {

.text01{top:200px;}
}